{% extends 'base.html' %}
{% block title %}FlipKart|Orders{% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <h2 class="text-center">My Orders</h2>
        {% if orders %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>OrderId</th>
                    <th>Product Name</th>
                    <th>Quantity</th>
                    <th>price</th>
                    <th>Total price</th>
                </tr>
            </thead>
            {% for x in orders %}
            <tr>
                <td>{{x.orderid}}</td>
                <td>{{x.productid.name}}</td>
                <td>{{x.qty}}</td>
                <td>{{x.productid.price}}</td>
                <td>{{55}}</td>
            </tr>
            {% endfor %}
        </table>
        {% else %}
       
        <h2 class="text-center bg-danger">You have no Order Yet</h2>
        {% endif %}
    </div>
</div>
{% endblock %}